{% extends "@!SonataUser/Admin/Security/login.html.twig" %}

{% block login_box_header %}
    <div class="login-logo">
        <a href="{{ path('sonata_admin_dashboard') }}">
            {% if sonata_admin.adminPool.getOption('title_mode') in ['single_image', 'both'] %}
                <div>
                    <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}">
                </div>
            {% endif %}
            {% if sonata_admin.adminPool.getOption('title_mode') in ['single_text', 'both'] %}
                <span>{{ sonata_admin.adminPool.title }}</span>
            {% endif %}
        </a>
    </div>
{% endblock %}
