{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <h1><i class="fas fa-thumbs-up"></i> Titre 1</h1>
                <input type="button" class="btn btn-primary" value="Enregister"/>
                <input type="button" class="btn btn-secondary" value="Enregister"/>
            </div>
        </div>
    </div>
{% endblock %}