$cornflower-blue: #6195ED;
$porsche-orange: #ED9A61;
$lavender: #C061ED;

$grey-acadia: #eae8e5;

$primary:       $cornflower-blue;
$secondary:     $porsche-orange;
$tertiary:      $lavender;
$lightgrey:     #6c6c6f;
$alpha: .1;

$font-color: $primary;

$tertiaryAlpha: rgba(230,51,42,$alpha);

$project-font-size-sm: 13px;
$project-font-size: 16px;

$project-font-size-lg: 18px;
